@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

:root {
  --background-img-md: url('./assets/fundo1.png'); 
  --background-img: url('./assets/fundo2.png'); 

  --color-primary: oklch(21% 0.034 264.665);
  /* --color-light-green: #D3FE01; */
  /* --color-md-green: #b6d80b; */
  --color-light-grey: #E4E0DC;
}

* {
  font-family: "Sora", sans-serif;
}

body {
  background-color: #f0f0f0;
  color: var(--color-primary)
}