@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
  --background-img-md: url('./assets/fundo1.png'); 
  --background-img: url('./assets/fundo2.png'); 
}

* {
  font-family: "Sora", sans-serif;
}

body {
  background-color: #f0f0f0;
}